@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.gallery {
  &__container  {
    &--img {
      overflow: hidden;

      img {
        transition: all .25s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
