@media screen and (max-width: 500px) {
  // ----------------------------------------- Events
  .events {
    &__timing {
      &--event {
        &__desc {
          flex-direction: column;
          gap: 2rem;

          div {
            gap: 2rem;
            p:first-of-type {
              text-align: center;
            }

            p:last-of-type {
              flex-direction: column;
              gap: 2rem;
            }
          }
        }
      }
    }
  }
}
